body {
    margin: 0px;
    padding: 0px;
}
li a {
    color: white;
}

.header1 {
	text-align: center;
	background: black;
	color: yellow;
}
.left1 {
	width: 200px;
	height: 500px;
	float: left;
	background: rgb(0,200,0);
}
.center1 {
	background: grey;
	height: 500px;
	color: white;
	
}

.right1 {
	width: 200px;
	height: 500px;
	float: left;
	background: rgb(0,230,0);
}