body {
	margin: 0;
	padding: 0;
}
li a {
    color: white;
}

.header1 {
	text-align: center;
	background: black;
	color: yellow;
}
.left1 {
	width: 15%;
	height: 200px;
	float: left;
	background: rgb(0,200,0);
}
.right1 {
	width: 15%;
	height: 200px;
	float: left;
	background: rgb(0,230,0);
}
.center1 {
	background: grey;
	width: 60%;
	height: 200px;
	color: white;
	float: left;
	margin: auto;
}
.main1 {
	background: blue;
	height: 80%;
	width: 300px;
	color: white;
	
	
}

